
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #131112;
    color: #F7F7FF;
    font-family: 'Poppins', sans-serif;
}
body{
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    min-height: 100vh;
    min-height: 100dvh;
}
/* navbar */
nav{
    margin: 0 1.5rem;
    padding-block: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F13030;
}

header{
    background-color: #131112;
}
 li{
    list-style: none;
}
li:hover{
    color: #F13030;
    transition: color 150ms ease-in-out;
}
/* li::after, li::before{
    content: "";
    width: 1px;
    height: 100%;
    background-color: #F13030;
    transform: scale(0);
    position: absolute;
    top: 0;
}
li::after{
    right: -5px;
}
li::before{
    left: -5px;
}
li:hover::after,li:hover:before{
    transform: scale(1);
    transition: transform 200ms ease-in-out;
} */
nav ul>li{
    position: relative;
    cursor: pointer;
}
nav ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem ;
}

.logo img{
    width: 4rem;
}

/* navbar ends here */

/* main */
main{
    display: grid;
    place-items: center;
}
.hero_title{
    font-size: 6rem;
    font-weight: 800;
    font-style: italic;
}
.hero_title:nth-child(1){
    transform: translateX(-7rem)
}
.hero_title:nth-child(2){
    transform: translateX(+7rem)
}